*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("/doctor.jpg");
    background-size: cover;
    background-attachment: fixed;

}
.container{
    border: 2px solid palevioletred;
    border-radius: 11px;
    bottom: 139px;
    position: absolute;
    display: flex;
    
    align-items: center;
    margin-left: 400px;
    
    height: 42vh;
    width: 40vw;
    background-color: aquamarine;
    margin-top: 200px;
    flex-direction: column;
}

.lab{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 13px;
    margin-right: 210px;
}
input{
    height: 21px;
    width: 20vw;
   border-radius: 4px;
}
.bmi{
    margin-right: 265px;
}
.btn{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid plum;
    border-radius: 11px;
    padding: 6px;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(171, 41, 176);
}
.res{
    width: 20vw;
    height: 21px;
    border: 1px solid black;
   border-radius: 4px;
}
h1{
    font-family: 'Open Sans', sans-serif;
    margin-top: 101px;
    text-align: center;
}